---
pages: 
    Etusivu: /
    Osallistujalle: /participant
    Yleisölle: /audience
    Kumppanille: /partner
---

html
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Kajahdus
        //- link(rel="icon", href="/j.webp")
    body.body
        .container.flex-v.flex--centering
            a.titlebar(href="/")
                h1(style="color: var(--primary);") Kajahdus 2026
            #days-until

            .menu-toggle
                img(src="ham.png", alt="Menu Icon", style="width: 100%; height: 100%; object-fit: contain; filter: invert(0.8);")

            div(style="flex-grow: 1;") !{content}

            .footer Nähdään pian!

            .menu-content
                .backdrop
                .menu
                    ul
                        each url, page in pages
                            li: a(href=url) #{page}

        style.
            :root {
                --primary: #dededeff;
                --secondary: #171717ff;
                --accent: #6b0707ff;
            }

            .menu {
                background-color: var(--primary);
                box-shadow: -2px 0 5px rgba(0,0,0,0.5);
                padding: 2em;
                box-sizing: border-box;
            }

            .menu ul {
                list-style-type: "⇒ ";
            }

            .menu li a {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-left: 0.5em;
                display: block;
            }

            .menu li a:hover {
                background-color: var(--accent);
                color: var(--primary);
            }

            .menu-content {
                display: none;
                position: fixed;
                top: 5em;
                z-index: 3000;
                min-width: 20em;
            }

            .menu-content.active {
                display: block;
            }

            .backdrop {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgba(0,0,0,0.5);
            }

            .footer {
                width: 100%;
                padding: 1em 1em;
                background-color: var(--secondary);
                box-sizing: border-box;
                text-align: center;
                color: var(--primary);
                position: sticky;
                top: 100vh;
            }

            .menu-toggle {
                position: fixed;
                top: 1em;
                right: calc(50% - 18em);
                width: 2.5em;
                height: 2.5em;
                background-color: var(--accent);
                border: 1px solid var(--secondary);
                border-radius: 0.3em;
                box-sizing: border-box;
                box-shadow: 0 0 1em 0.3em rgba(27, 27, 27, 0.5);
                padding: 0.3em;
                cursor: pointer;
                z-index: 3000;
            }

            .titlebar {
                width: 100%;
                padding: 1em 1em;
                background-color: var(--accent);
                box-sizing: border-box;
                line-height: initial;
                text-decoration: none;
            }
            .titlebar h1 {
                text-align: center;
            }

            .body {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin: 0;
                padding: 0;
                background-color: var(--primary);
                min-height: 1vh;
            }

            .container {
                margin: 0;
                max-width: 100%;
                width: 40em;
                overflow-x: hidden;
                overflow-y: auto;
                height: 100vh;
                position: relative;
            }

            .debug-box {
                box-sizing: border-box;
                border: 1px solid black;
            }

            .container h1 {
                font-size: 3em;
                margin: 0;
            }

            h1, h2, h3, h4, h5, h6, .font--header {
                font-family: Header, serif;
                color: var(--secondary);
            }

            p, span, div, a, .font--body {
                font-family: Body, sans-serif;
                color: var(--secondary);
                line-height: 140%;
            }

            .flex-h {
                display: flex;
                flex-flow: row nowrap;
            }

            .flex-v {
                display: flex;
                flex-flow: column nowrap;
                align-items: start;
            }

            .centered {
                align-self: center;
            }

            .flex--centering {
                align-items: center;
            }

            .rounded {
                mask-image: radial-gradient(closest-side, rgba(0,0,0,1) 60%, 90%, rgba(0,0,0,0) 100%)
            }

            .sticky {
                position: sticky;
                top: 0.2em;
            }

            .uppercase {
                text-transform: uppercase;
            }

            @font-face {
                font-family: Header;
                src: url("/OugkehRegular-DYYrW.otf");
            }
            @font-face {
                font-family: Body;
                src: url("/Merriweather-VariableFont_opsz,wdth,wght.ttf");
            }

            @media screen and (max-width: 479px) {
                .container {
                    width: 100%;
                }
                .container h1 {
                    font-size: 2.5em;
                }

                .menu-toggle {
                    right: 1em;
                }
            }
            
        script.
            const menuToggle = document.querySelector('.menu-toggle');
            const menuContent = document.querySelector('.menu-content');
            const backdrop = document.querySelector('.backdrop');

            const toggleMenu = () => {
                menuContent.classList.toggle('active');
            }

            menuToggle.addEventListener('click', toggleMenu);
            backdrop.addEventListener('click', toggleMenu);

        script.
            const SECONDS = 1000
            const MINUTES = SECONDS * 60
            const HOURS = MINUTES * 60
            const DAYS = HOURS * 24

            const target = "2026-11-06T17:00:00+0200";
            const targetDate = new Date(target);
            const dayCounterEl = document.getElementById("days-until")

            const updateCounter = () => {
                const now = new Date();
                const diffTime = targetDate - now;
                const diffDays = Math.floor(diffTime / DAYS);
                const diffHours = Math.floor((diffTime % DAYS) / HOURS);
                const diffMinutes = Math.floor((diffTime % HOURS) / MINUTES);
                const diffSeconds = Math.floor((diffTime % MINUTES) / SECONDS);

                const dayPart = diffDays > 0 ? `${diffDays} päivää ` : '';

                dayCounterEl.innerHTML = `${dayPart}${diffHours.toString().padStart(2, '0')}:${diffMinutes.toString().padStart(2, '0')}:${diffSeconds.toString().padStart(2, '0')}`;
            }

            setInterval(updateCounter, 1000);
            updateCounter();

        style.
            #days-until {
                width: 100%;
                position: sticky;
                top: 0;
                font-weight: bold;
                text-align: center;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                background-color: var(--secondary);
                color: var(--primary);
                z-index: 1000;
            }

